.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-200 {
    margin-top: 200px;

    @include screen-992 {
        margin-top: 80px;
    }
}

.pt-100 {
    padding-top: 100px; 
}


.spacer-200 {
    height: 200px;

    @include screen-992 {
        height: 50px;
    }
}

.container-1920 {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 40px;
    
    @include screen-768 {
        padding: 0 15px;
    }
}


.wpa_btn_black {
    padding: 10px 24px;
    background: rgba($color-white, 0.1);
    font-size: 15px;
    font-weight: 500;
    display: inline-block;

    &:hover {
        background: $color-white;
        color: $color-black;
    }
}

.wpa_section_wrapper {
    padding: 70px 0;

    @include screen-992 {
        padding: 80px 0 60px;
    }
}

.wpa_footer {
    padding-bottom: 70px; 
}


.wpa_heading_block {
    h1 {
        font-size: 100px;
        line-height: 1em;
    }

    p {
        &.lead {
            font-size: 36px;
            line-height: 1.15em;
        }

        + p {
            margin-top: 24px;
        }
    }

    @include screen-992 {
        h1 {
            font-size: 50px;
        }

        p.lead {
            font-size: 20px;
        }
    }
}

.wpa_title_block {
    h2 {
        font-size: 40px;
        font-weight: 400;

        &.text-gray {
            color: rgba($color-white, 0.4);
        }
    }

    p {
        font-size: 20px;
    }
}


.wpa_image_block {
    h2 {
        font-size: 50px;
    }

    @include screen-992 {
        h2 {
            font-size: 25px;
        }
    }
}


.wpa_download_btn {
    display: block;
    width: 100%;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 400;
    background: #323232;
}


.wpa_title_with_border {
    font-size: 50px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration: underline;
    color: rgba($color-white, 0.2);
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;

    @include screen-992 {
        font-size: 25px;
    }
}