/** main screen styles **/

.wpa_main_screen {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    gap: 48px;

    .wpa_logo {
        max-width: 2400px;
        display: block;
        margin: 0 auto;
    }
}

.wpa_text_block {
    max-width: 1040px;
    margin: 0 0  0 auto;
    
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
        font-weight: 300;
    }

    @include screen-576 {
        h2 {
            font-size: 20px;
        }
    }
}

