.wpa_intro_section {
    
}

.wpa_intro_info_wrapper {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: end;
    position: sticky;
    top: 0;
    padding-bottom: 50px;

    @include screen-992 {
        height: auto;
        position: initial;
        padding-bottom: 0;
    }
}

.wpa_intro_info {
    li {
        font-size: 15px;
        color: rgba($color-white, 0.2);
        
        + li {
            margin-top: 4px;
        }
    }
}



.wpa_navigation_block {
    display: flex;
    gap: 24px;

    .wpa_nav_block_main {
        width: 320px;
        a {
           font-size: 40px;
           position: relative;
           display: inline-block;
           color: $color-white; 
           text-decoration: underline;
           text-decoration-thickness: 1px;
           text-underline-offset: 6px; 
        }

        @include screen-992 {
            a {
                font-size: 20px;
            }
        }
    }

    .wpa_nav_block_sub {
        li {
            font-size: 40px;
            font-weight: 300;
            position: relative;
            padding-left: 20px;

            &::before {
                content: ''; 
                position: absolute; 
                width: 8px; 
                height: 8px; 
                background: $color-white;
                border-radius: 50%;
                left: 0;
                top: 26px;
            }

            &.wpa_nav_block_sub_head {
                padding-left: 0;
                margin-left: -10px;
                &::before {
                    display: none;
                }
            }
        }

        @include screen-992 {
            li {
                font-size: 20px;

                &::before {
                    top: 10px;
                    
                }
            }
        }
    }

    @include screen-992 {
        display: block;
        .wpa_nav_block_main {
            width: 100%;
            margin-bottom: 20px;
        }

        .wpa_nav_block_sub {
            padding-left: 15px;
        }
    }
}










